In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import pandas as pd
penguins = pd.read_csv('datasets\\penguins.csv')

In [3]:
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [4]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [5]:
penguins['wkilo'] = np.round(penguins['body_mass_g'] / 1000 , 2)

In [6]:
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,wkilo
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.75
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.80
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.25
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.45
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.00
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.40
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.78
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.10
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.78

In [7]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
wkilo                 2
dtype: int64

In [8]:
penguins['bill_length_mm'] = penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mean())

In [9]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        0
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
wkilo                 2
dtype: int64

In [10]:
penguins['bill_depth_mm'] = penguins['bill_depth_mm'].fillna(penguins['bill_depth_mm'].mean())

In [11]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
wkilo                 2
dtype: int64

In [12]:
penguins['flipper_length_mm'] = penguins['flipper_length_mm'].fillna(penguins['flipper_length_mm'].mean())

In [13]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           2
sex                  11
year                  0
wkilo                 2
dtype: int64

In [14]:
penguins['body_mass_g'] = penguins['body_mass_g'].fillna(penguins['body_mass_g'].mean())

In [15]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
year                  0
wkilo                 2
dtype: int64

In [16]:
penguins['sex'] = penguins['sex'].fillna(penguins['sex'].mode()[0])

In [17]:
penguins.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
wkilo                2
dtype: int64

In [18]:
penguins['wkilo'] = penguins['wkilo'].fillna(penguins['wkilo'].mean())

In [19]:
penguins.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
wkilo                0
dtype: int64

penguins[penguins['species'] == 'Adelie']

<h1>#1 does the penguins species 'Adelie' lives exclusively on an island </h1>

<h2> Adelie on an island </h2>

In [20]:
penguins['species'] == 'Adelie'

0       True
1       True
2       True
3       True
4       True
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [21]:
penguins['island'] == 'Biscoe'

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: island, Length: 344, dtype: bool

<h1> Insight #1 Adelie on an island </h1>

In [22]:
penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Biscoe')].count()

rowid                44
species              44
island               44
bill_length_mm       44
bill_depth_mm        44
flipper_length_mm    44
body_mass_g          44
sex                  44
year                 44
wkilo                44
dtype: int64

In [23]:
Adelie_Biscoe = penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Biscoe')]

In [24]:
penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Dream')].count()

rowid                56
species              56
island               56
bill_length_mm       56
bill_depth_mm        56
flipper_length_mm    56
body_mass_g          56
sex                  56
year                 56
wkilo                56
dtype: int64

In [25]:
Adelie_Dream = penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Dream')]

In [26]:
penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Torgersen')].count()

rowid                52
species              52
island               52
bill_length_mm       52
bill_depth_mm        52
flipper_length_mm    52
body_mass_g          52
sex                  52
year                 52
wkilo                52
dtype: int64

In [27]:
Adelie_torg = penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Torgersen')]

<h2> Insight #2 Gento on an island</h2>

In [28]:
penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Biscoe')].count()

rowid                124
species              124
island               124
bill_length_mm       124
bill_depth_mm        124
flipper_length_mm    124
body_mass_g          124
sex                  124
year                 124
wkilo                124
dtype: int64

In [29]:
Gentoo_Biscoe = penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Biscoe')]

In [30]:
penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Dream')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
wkilo                0
dtype: int64

In [31]:
Gentoo_Dream = penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Dream')]

In [32]:
penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Torgersen')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
wkilo                0
dtype: int64

In [33]:
Gentoo_Torg = penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Torgersen')]

<h2>Insight #3 Chinstrap on an island</h2>

In [34]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Biscoe')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
wkilo                0
dtype: int64

In [35]:
Chinstrap_Biscoe = penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Biscoe')]

In [36]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Dream')].count()

rowid                68
species              68
island               68
bill_length_mm       68
bill_depth_mm        68
flipper_length_mm    68
body_mass_g          68
sex                  68
year                 68
wkilo                68
dtype: int64

In [37]:
Chinstrap_Dream = penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Dream')]

In [38]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'torgersen')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
wkilo                0
dtype: int64

In [39]:
Chinstrap_torg = penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'torgersen')]

<h2>Insight #4 Body mass of Adelie on an island</h2>

In [40]:
Adelie_Biscoe['wkilo'].mean()

np.float64(3.709772727272727)

In [41]:
np.round(Adelie_Biscoe['wkilo'].mean(), 1)

np.float64(3.7)

In [42]:
Adelie_Dream['wkilo'].mean()

np.float64(3.688392857142857)

In [43]:
np.round(Adelie_Dream['wkilo'].mean(), 1)

np.float64(3.7)

In [44]:
Adelie_torg['wkilo'].mean()

np.float64(3.715995838956365)

In [45]:
np.round(Adelie_torg['wkilo'].mean(), 1)

np.float64(3.7)

<h2>Insight #5 body mass of Gentoo on an island</h2>

In [46]:
Gentoo_Biscoe['wkilo'].mean()

np.float64(5.068885351820411)

In [47]:
np.round(Gentoo_Biscoe['wkilo'].mean(), 1)

np.float64(5.1)

In [48]:
Gentoo_Dream['wkilo'].mean()

nan

In [49]:
np.round(Gentoo_Dream['wkilo'].mean(), 1)

np.float64(nan)

In [50]:
Gentoo_Torg['wkilo'].mean()

nan

In [51]:
np.round(Gentoo_Torg['wkilo'].mean(), 1)

np.float64(nan)

<h1>Insight #6 Body mass of Chinstrap on an island</h1>

In [52]:
Chinstrap_Biscoe['wkilo'].mean()

nan

In [53]:
np.round(Chinstrap_Biscoe['wkilo'].mean(), 1)

np.float64(nan)

In [54]:
Chinstrap_Biscoe['wkilo'].mean()

nan

In [55]:
np.round(Chinstrap_Biscoe['wkilo'].mean(), 1)

np.float64(nan)

In [56]:
Chinstrap_Biscoe['wkilo'].mean()

nan

In [57]:
np.round(Chinstrap_Biscoe['wkilo'].mean(), 1)

np.float64(nan)

<h1>Insight #7 gentoo The highiest kilo </h1>

In [58]:
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,wkilo
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.750000
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.800000
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.250000
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.201784
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.450000
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.000000
340,341,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.400000
341,342,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.780000
342,343,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.100000
343,344,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.780000

<h1> insight #8 </h1>
<h3>the highiest number male adelie penguins recorded was in a year 2007</h3>

<h1>How to use groupby function </h1>

<ul>
    <li>Name of the group</li>
    <li>call the reference data frame </li>
    <li>followed by the groupby function </li>
    <li>aggregate function</li>

</ul>

<h1>Question Number 9</h1>

<h2>Which is heaveir between penguin species in terms of SEX</h2>

In [59]:
weight_sex = penguins.groupby(['species', 'sex', 'wkilo']).size()

In [60]:
weight_sex

species  sex     wkilo
Adelie   female  2.85     2
                 2.90     3
                 2.92     1
                 3.00     2
                 3.05     4
                         ..
Gentoo   male    5.85     3
                 5.95     2
                 6.00     2
                 6.05     1
                 6.30     1
Length: 172, dtype: int64

In [61]:
weight_sex = np.round(penguins.groupby(['species', 'sex'])['wkilo'].mean(), 1)

In [62]:
weight_sex

species    sex
Adelie     female    3.4
           male      4.0
Chinstrap  female    3.5
           male      3.9
Gentoo     female    4.7
           male      5.4
Name: wkilo, dtype: float64

In [63]:
weight_sex.unstack()

sex        female  male
species
Adelie        3.4   4.0
Chinstrap     3.5   3.9
Gentoo        4.7   5.4

<h1>Question 10</h1>
<h2>What year has the highiest recorded weight for male female</h2>

In [64]:
weight_sex = np.round(penguins.groupby(['species', 'year', 'sex'])['wkilo'].mean(), 1)

In [65]:
weight_sex

species    year  sex
Adelie     2007  female    3.4
                 male      4.0
           2008  female    3.4
                 male      4.1
           2009  female    3.3
                 male      4.0
Chinstrap  2007  female    3.6
                 male      3.8
           2008  female    3.5
                 male      4.1
           2009  female    3.5
                 male      3.9
Gentoo     2007  female    4.6
                 male      5.5
           2008  female    4.6
                 male      5.4
           2009  female    4.8
                 male      5.4
Name: wkilo, dtype: float64

In [66]:
weight_sex.unstack()

sex             female  male
species   year
Adelie    2007     3.4   4.0
          2008     3.4   4.1
          2009     3.3   4.0
Chinstrap 2007     3.6   3.8
          2008     3.5   4.1
          2009     3.5   3.9
Gentoo    2007     4.6   5.5
          2008     4.6   5.4
          2009     4.8   5.4

<h1>Correlation vs Causation</h1>

<h2>Correlation between bill lenght and bill depth</h2>

<h1>Requirements for correlation</h1>
<ul>
    <li>Naming the variable</li>
    <li>first column to test</li>
    <li>.corr function</li>
    <li>second column to test</li>
</ul>

In [67]:
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,wkilo
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.750000
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.800000
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.250000
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.201784
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.450000
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.000000
340,341,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.400000
341,342,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.780000
342,343,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.100000
343,344,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.780000

In [68]:
b_length_depth = penguins['bill_length_mm'].corr(penguins['bill_depth_mm'])

In [69]:
b_length_depth

np.float64(-0.23505287035553282)

<h1>Question 11</h1>

In [70]:
b_lenght_depth = penguins['flipper_length_mm'].corr(penguins['bill_depth_mm'])

In [71]:
b_length_depth

np.float64(-0.23505287035553282)

<h1>there is no correlation between flipper lenth and bill deth</h1>

<h1>Question 12</h1>

In [72]:
f_kilo = penguins['flipper_length_mm'].corr(penguins['wkilo'])

In [73]:
f_kilo

np.float64(0.8711960136081922)

<h1>there is correlation between flipper lenth and weight</h1>

<h1>Question 13</h1>

In [74]:
b_kilo = penguins['bill_length_mm'].corr(penguins['wkilo'])

In [75]:
b_kilo

np.float64(0.5951244240326897)

<h1>there is correlation between bill length and weight</h1>

<h1>Question 14</h1>

In [76]:
b_kilo = penguins['bill_depth_mm'].corr(penguins['wkilo'])

In [77]:
b_kilo

np.float64(-0.471819430766534)

<h1>There is no corralation between bill depth and weight</h1>

<h1>Use one way Anova</h1>
<h1> Science Python known as scipy </h1>

In [78]:
pip install scipy

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: scipy in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (1.15.2)
Requirement already satisfied: numpy<2.5,>=1.23.5 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from scipy) (2.2.2)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC22\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [79]:
from scipy.stats import f_oneway

In [81]:
penguins[penguins['sex'] == 'male']['body_mass_g']

0      3750.000000
3      4201.754386
5      3650.000000
7      4675.000000
8      3475.000000
          ...
334    3800.000000
336    3950.000000
339    4000.000000
341    3775.000000
342    4100.000000
Name: body_mass_g, Length: 179, dtype: float64

In [82]:
f_stats, p_value = f_oneway(penguins[penguins['sex'] == 'male']['body_mass_g'],
                           penguins[penguins['sex'] == 'female']['body_mass_g'])

p_value

np.float64(3.0226600487050246e-15)

<h1>Insight #15</h1>
<h1>There is a strong corralation between sex and body mass</h1>

In [83]:
f_stats, p_value = f_oneway(penguins[penguins['sex'] == 'male']['flipper_length_mm'],
                           penguins[penguins['sex'] == 'female']['flipper_length_mm'])

p_value

np.float64(4.88065474065626e-06)

<h1>Insight #16</h1>
<h1>There is a strong corralation between sex and body mass</h1>